_build/otelcol
_build/vendor/**
_build/LICENSE
_build/README.md
opentelemetry-collector.spec
bin/**
dist/**
*.mod
!component-parser/go.mod
*.pp
opentelemetry-collector/
opentelemetry-collector-contrib/
